<!DOCTYPE html>

<head>
    <script src="https://ajax.gooleapis.com.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <link rel="stylesheet" type="text/css" href="shuttle.component.scss" />

</head>

<body>
<div id="wrapper">
    <div id="nav">
        <a href="#">Trips</a> | <a href="../profile/profile.component.html">Profile</a> | <a href="#">About Us</a> | <a href="#">Trips</a>
    </div>
    <p [class] ="changeColorClass">shuttle works!</p>
    
    <div id="content">

    <table class="table1" border="1px Solid #dddddd" >
        <tr>
            <th>Company</th>
            <th>Contact</th>
            <th>Country</th>
        </tr>
        <tr>
            <td>Alfreds Futterkiste</td>
            <td>Francisco Chang</td>
            <td>Mexico</td>
        </tr>

    </table>
    </div>


<div id="footer">

    <p>this is the footer</p>

</div>
</div>
</body>