<!DOCTYPE html>

<head>
    <script src="https://ajax.gooleapis.com.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <link rel="stylesheet" type="text/css" href="profile.component.scss" />

</head>

<body>
<div id="wrapper">
    <div id="nav">
        <a href="#">Trips</a> | <a href="#">Profile</a> | <a href="#">About Us</a> | <a href="#">Trips</a>
    </div>
    <p [class] ="changeColorClass">Profile works!</p>
    
    <div id="content">

        
  
    </div>


<div id="footer">

    <p>this is the footer</p>

</div>
</div>
</body>